<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Resume</title>
    <meta name="description" content="初出茅庐的后端工程师。">
    <meta name="keywords" content="后端,工作,简历">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="dist/css/style.min.css">
    <link rel="stylesheet" href="dist/css/fontello.min.css">
    <link rel="stylesheet" href="lib/zoom.css">
    <script src="lib/av-min.js"></script>
    <script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
   <!-- <script src="lib/av-live-query-min.js"></script> -->
    <script src="lib/vue-i18n.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/wasm_exec.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48084758-4', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
    <div class="container" id="resume">
        <div class="sidebar">
            <div class="title">
                <img :src="basicInfo.avatar" data-action="zoom" style="border-radius: 100%">
                <h1>{{ $t('message.title') }}</h1>
                <h2>{{ basicInfo.motto[i18n.locale] }}</h2>
                <span v-for="(v, k, i) in langs" :key="i" v-if="settings.langSwitch">
                    <button @click="select_lang(k)" class="lang_selector">{{ v }}</button>
                </span>
            </div>
            <ul class="side-info">
                <li class="someRight">
                    <dt>
                        <i class="icon-bookmark"></i>{{ $t('message.contact.title') }}
                        <button v-if="!switch_status('contact')" @click="trigger_edit('contact')">Edit</button>
                        <span v-else>
                            <button v-if="switch_status('contact')" @click="trigger_edit('contact')">Cancel</button>
                            <button @click="submit('contact')">Submit</button>
                        </span>
                    </dt>
                    <dd>
                        <i class="icon-phone-1"></i>{{ $t('message.contact.phone') }}:
                        <span v-if="!switch_status('contact')">{{ contact.tel }}</span>
                        <span v-else><input type="text" v-model="contact.tel"></span>
                    </dd>
                    <dd>
                        <i class="icon-mail-alt"></i>{{ $t('message.contact.mail') }}:
                        <span v-if="!switch_status('contact')"><a :href="'mailto:' + contact.mail" target="_blank">{{ contact.mail }}</a></span>
                        <span v-else><input type="text" v-model="contact.mail"></span>
                    </dd>
                    <dd>
                        <i class="icon-wechat"></i>{{ $t('message.contact.wechat') }}:
                        <span v-if="!switch_status('contact')">{{ contact.wechat }}</span>
                        <span v-else><input type="text" v-model="contact.wechat"></span>
                    </dd>
                    <dd>
                        <i class="icon-qq"></i>{{ $t('message.contact.qq') }}:
                        <span v-if="!switch_status('contact')"><a :href="'http://wpa.qq.com/msgrd?v=3&uin=' + contact.qq + '&site=qq&menu=yes'" target="_blank">{{ contact.qq }}</a></span>
                        <span v-else><input type="text" v-model="contact.qq"></span>
                    </dd>
                </li>
                <li class="someRight" v-if="settings.expectSwitch">
                    <dt><i class="icon-bookmark"></i>{{ $t('message.application.title') }}</dt>
                    <dd>{{ basicInfo.expect[i18n.locale] }}</dd>
                </li>
            </ul>
            <div class="note" v-if="settings.introDisplaySwitch">
                <p>{{ basicInfo.intro[i18n.locale] }}</p>
            </div>
        </div>
        <div class="main">
            <ul class="main-info">
                <li class="someRight">
                    <dt>
                        <i class="icon-bookmark"></i>{{ $t('message.basic.title') }}
                        <button v-if="!switch_status('basicInfo')" @click="trigger_edit('basicInfo')">Edit</button>
                        <span v-else>
                            <button v-if="switch_status('basicInfo')" @click="trigger_edit('basicInfo')">Cancel</button>
                            <button @click="submit('basicInfo')">Submit</button>
                        </span>
                    </dt>
                    <dd>
                        <strong>{{ $t('message.basic.personal_info') }}:</strong>
                        <span v-if="!switch_status('basicInfo')">{{ basicInfo.name[i18n.locale] }} / {{ basicInfo.gender[i18n.locale] }}</span>
                        <span v-else><input type="text" v-model="basicInfo.name[i18n.locale]"> / <select v-model="basicInfo.gender[i18n.locale]"><option value="男">男</option><option value="女">女</option></select></span>
                    </dd>
                    <dd>
                        <strong>{{ $t('message.basic.edu_background') }}:</strong>
                        <span v-if="!switch_status('basicInfo')">{{ basicInfo.edu_background[i18n.locale] }}</span>
                        <span v-else><input type="text" v-model="basicInfo.edu_background[i18n.locale]"></span>
                    </dd>
                    <dd>
                        <strong>{{ $t('message.basic.undergraduate') }}:</strong>
                        <span v-if="!switch_status('basicInfo')">{{ basicInfo.undergraduate[i18n.locale] }}</span>
                        <span v-else><input type="text" v-model="basicInfo.undergraduate[i18n.locale]"></span>
                    </dd>
                    <dd>
                        <strong>{{ $t('message.basic.postgraduate') }}:</strong>
                        <span v-if="!switch_status('basicInfo')">{{ basicInfo.postgraduate[i18n.locale] }}</span>
                        <span v-else><input type="text" v-model="basicInfo.postgraduate[i18n.locale]"></span>
                    </dd>
                    <dd>
                        <strong>{{ $t('message.basic.working_year') }}:</strong>
                        <span v-if="!switch_status('basicInfo')">{{ basicInfo.working_year[i18n.locale] }}</span>
                        <span v-else><input type="text" v-model="basicInfo.working_year[i18n.locale]"></span>
                    </dd>
                    <dd>
                        <strong>{{ $t('message.basic.blog') }}:</strong>
                        <span v-if="!switch_status('basicInfo')"><a :href="basicInfo.blog" target="_blank">{{ basicInfo.blog }}</a></span>
                        <span v-else><input type="text" v-model="basicInfo.blog"></span>

                    </dd>
                    <dd>
                        <strong>{{ $t('message.basic.github') }}:</strong>
                        <span v-if="!switch_status('basicInfo')">
                            <a :href="basicInfo.github.url" target="_blank">{{ basicInfo.github.url }}</a>
                            <iframe :src="'https://ghbtns.com/github-btn.html?user=' + basicInfo.github.name + '&type=follow&count=true'" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
                        </span>
                        <span v-else><input type="text" v-model="basicInfo.github.url"></span>
                    </dd>
                </li>
                <li>
                    <dt><i class="icon-bookmark"></i>{{ $t('message.experience.title') }}</dt>
                    <div v-for="(exp, idx) in workExperience.experiences" :key="idx">
                        <h3><img :src="exp.logo" data-action="zoom"><span>{{ exp.name[i18n.locale] }}({{ exp.date }})</span></h3>
                        <ul class="exp">
                            <li v-for="(pro, idx) in exp.projects" :key="idx">
                                <div class="circle"></div>
                                <h4>{{ pro.name[i18n.locale] }}</h4>
                                <p class="techs">{{ pro.techs[i18n.locale] }}</p>
                                <p>{{ pro.intro[i18n.locale] }}</p>
                                <img :src="pro.thumb" data-action="zoom" width="250px" v-if="pro.thumb !== undefined">
                            </li>
                        </ul>
                    </div>

                    <h3>{{ $t('message.experience.personal_pros') }}</h3>
                    <ul class="exp">
                        <li v-for="(pro, idx) in projects.projects" v-for="idx">
                            <div class="circle"></div>
                            <h4>
                                <span>{{ pro.name[i18n.locale] }}</span>
                                <a :href="pro.source" target="_blank"><i class="icon-link"></i>{{ $t('message.experience.source_code') }}</a>
                                <a :href="pro.address" target="_blank"><i class="icon-link"></i>Demo</a>
                                <iframe :src="pro.github" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
                            </h4>
                            <p class="techs">{{ pro.techs[i18n.locale] }}</p>
                            <p>{{ pro.intro[i18n.locale] }}</p>
                            <p>{{ pro.fame[i18n.locale] }}</p>
                            <img :src="pro.thumb" data-action="zoom" v-if="pro.thumb !== undefined">
                        </li>
                    </ul>
                </li>
                <li>
                    <dt><i class="icon-bookmark"></i>{{ $t('message.skills.title') }}</dt>
                    <div v-for="(skill, index) in skills.skills" :key="index">
                        <h3>{{ skill.category[i18n.locale] }}</h3>
                        <ul class="exp">
                            <li v-for="(content, idx) in skill.contents" :key="idx">
                                <div class="circle"></div>
                                <h4>{{ content.name[i18n.locale] }}</h4>
                                <p :key="index">{{ content.intro[i18n.locale] }}</p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <footer id="footer">
        <p>Theme by <a href="https://github.com/Nonsensersunny/resume" target="_blank">{{ basicInfo.github.name }}</a>. Made with <i class="icon-heart throb" style="color: #d43f57;"></i> by {{ basicInfo.github.name }}. <a :href="basicInfo.pdf_resume">PDF {{ $t('message.download') }}</a> {{ $t('message.latest_update') }} {{ lastUpdated }}</p>
    </footer>
    <script src="dist/js/app.min.js"></script>
    <script src="lib/zoom.min.js"></script>
</body>
</html>
